<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <p>Billing Information
    <small  class="sameAsShipping" (click)="addInformation()">Same as shipping</small>
  </p>


  <div class="recipient">
    <p>Billing Contact</p>
    <div
      class="validators addresss zip"
      *ngIf="form?.get('fullName')?.invalid && form?.get('fullName')?.touched"
    >
      <small>
        {{'fullName ' + errorsText | titlecase}}
      </small>
    </div>
    <input
      class="inputFullName"
      placeholder="Full Name"
      formControlName="fullName"
      type="text"
    />
    <div
      class="validators addresss zip"
      *ngIf="form?.get('email')?.invalid && form?.get('email')?.touched"
    >
      <small *ngIf="form?.get('email')?.errors?.required">
        {{'email ' + errorsText | titlecase}}
      </small>
      <small *ngIf="form?.get('email')?.errors?.email">
        {{'enter correct email' | titlecase}}
      </small>
    </div>
    <input
      class="inputFullName secondImN"
      placeholder="Email Address"
      type="email"
      formControlName="email"
    />
  </div>

  <div class="address">
    <p>Billing Address</p>
    <div
      class="validators addresss zip"
      *ngIf="form?.get('address')?.invalid && form?.get('address')?.touched"
    >
      <small>
        {{'address ' + errorsText | titlecase}}
      </small>
    </div>
    <input
      type="text"
      class="streetAddress"
      placeholder="Street Address"
      formControlName="address"
    />
    <input
      type="number"
      class="atpSuite secondAtpSuite"
      placeholder="Apt, Suite, Bldg, Gate Code. (optional)"
    />
    <div
      class="validators addresss zip"
      *ngIf="form?.get('city')?.invalid && form?.get('city')?.touched"
    >
      <small>
        {{'city ' + errorsText | titlecase}}
      </small>
    </div>
    <input
      type="text"
      placeholder="City"
      class="atpSuite city"
      formControlName="city"
    />
    <div class="input-wrap">
      <select
        placeholder="Country"
        class="atpSuite country"
      >
        <option>Russia</option>
        <option>Armenia</option>
        <option>Belarus</option>
      </select>
      <input
        placeholder="Zip"
        class="atpSuite zip"
        type="number"
        formControlName="zip"
        id="zip"
      />
      <div
        class="validators addresss zipp"
        *ngIf="form?.get('zip')?.invalid && form?.get('zip')?.touched"
      >
        <small>
          {{'zip ' + errorsText | titlecase}}
        </small>
      </div>
    </div>
    <button
      class="atpSuite button"
      [disabled]="form.invalid"
      type="submit"
    >
      Continue
    </button>
    <button class="atpSuite button reset" (click)="reset()">Reset</button>
  </div>
</form>
