.thankOrder {
  color: #5A1094;
  font-size: 26px;
  line-height: 31px;
  padding: 60px 0 0 30px;
}

.orderNumber {
  font-size: 16px;
  line-height: 19px;
  color: #2B2525;
  font-weight: 500;
  margin: 29px 146px 11px 45px;
}

.hrefJonathan {
  color: #2B2525;
  font-size: 16px;
  line-height: 18px;
  margin: 11px 82px 31px 45px;
  a {
    text-decoration: none;
  }
}

.estimated {
  margin: 31px 55px 31px 45px;
  color: #2B2525;
  font-size: 16px;
  line-height: 18px;
  span {
    font-weight: 600;
  }
}

.print {
  margin: 31px 281px 292px 45px;
  font-size: 13px;
  line-height: 13px;
  color: #5A1094;
  text-decoration: underline;
}
