<div class="paginatorContainer">
  <p routerLink="/shipping"
    [ngClass]="[ color === 'shipping'  ? 'lightColor': 'underline'] "
  >
    Shipping
  </p>
  <img src="assets/images/Group%20Copy.png" alt="S">
  <p
    routerLink="/billing"
    [ngClass]="[ color === 'billing'  ? 'lightColor': 'underline'] "
  >
    Billing
  </p>
  <img src="assets/images/Group%20Copy.png" alt="S">
  <p
    routerLink="/payment"
    [ngClass]="[ color === 'payment' ? 'lightColor': 'underline'] "
  >
    Payment
  </p>
</div>
